@import 'sectionTitle-variables';


#sectionTitle {
    display: $display-lg;
    grid-template-columns: $grid-template-columns-lg;
    column-gap: $column-gap-lg;

    h2 {
        margin-bottom: $h2-marginBottom;
        font-size: $h2-fontSize-lg;
        line-height: $h2-lineHeight;
        position: $h2-position;
        text-align: $h2-textAlign;
    }

    .line {
        height: $line-height;
        width: $line-width-lg;
        position: $line-position;
        top: $line-top-lg;
        background-color: $line-background;
        border: $line-border;
        line-height: $line-lineHeight;
    }
}

@media (max-width: 991.98px) {
    #sectionTitle {
        display: $display-md;
        flex-direction: $flex-direction-md;
        align-items: $align-items-md;

        .line {
            width: $line-width-md !important;
            top: $line-top-md !important;
            bottom: $line-bottom-md !important;
            margin-bottom: $line-marginBottom-md !important;
        }

        h2 {
            font-size: $h2-fontSize-md !important;
            margin-bottom: 50px !important;
        }
    }
}