@import 'skills-variables';

#skills {
    margin-top: $skilss-marginTop;

    .left {

        .left-wr {
            position: relative;
            min-height: 100%;
            max-width: fit-content;
        }

        h2 {
            font-size: 30px;
            line-height: 36px;
        }

        .laptop {
            position: absolute;
            left: -30px;
            bottom: -50px;
        }

        .coding {
            position: absolute;
            right: 5px;
            top: 105px;
        }

        .fillStart {
            position: absolute;
            top: -15px;
            right: -15px;
        }

        .youtube {
            position: absolute;
            top: 170px;
            right: 50px;
        }
    }

    .right {

        .skills-row {
            row-gap: 48px;

            .skill-item {
                display: flex;
                flex-direction: column;
                align-items: center;


                .title {
                    font-size: 12px;
                    color: rgb(123 137 168);
                    opacity: .8;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    margin-top: 12px;
                }

                .icon {
                    width: 40px;
                    height: 40px;
                }

            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .wr{
        position: relative;
    }
    .left {
        margin-bottom: 50px;

        .left-wr {
            max-width: none !important;
            text-align: center;
            position: static !important;

            h2{
                font-size: 25px !important;
            }
        

        .laptop {
            left: -10% !important;
            top: 55px;
            // bottom: -50px;
            z-index: -1;
        }

        .coding {
            left:  17% !important;
            right:  auto !important;
            top: auto !important;
            bottom: 200px !important;
            z-index: -1;
            
        }

        .fillStart {
            top: -15px;
            right: -15px;
            z-index: -1;
        }

        .youtube {
            top: auto !important;
            bottom: -45px !important;
            right: 50px;
            z-index: -1;
        }

        }

    }
    .right{
       .skills-row{
             row-gap: 36px !important;   
        }
    }
}