// Mobile Navbar Brand Lg

$mobile-navbar-paddingBottom: 1.53846rem;
$mobile-navbar-brand-name-gap: .3rem;
$mobile-navbar-brand-letter-weight: 500;
$mobile-navbar-brand-letter-size: 1.2rem;
$mobile-navbar-burger-icon-size : 1.53846rem;
$mobile-navbar-burger-icon-color : #FFFFFF;

// Mobile Navbar Nav Lg
$mobile-navbar-nav-gap: 2.5rem;
$mobile-navbar-nav-link-opacity: .4;
$mobile-navbar-nav-link-active-opacity: 1;