@import "mobile-navbar-variables";

#mobile-navbar {
    position: relative;
    display: none;
    padding-bottom: $mobile-navbar-paddingBottom;

    .navbar-brand {

        .name {
            column-gap: $mobile-navbar-brand-name-gap;

            .letter {
                font-weight: $mobile-navbar-brand-letter-weight;
                font-size: $mobile-navbar-brand-letter-size;
            }

        }

    }

    .burger-menu {

        .burger-icon {
            width: 20px;
            height: 20px;
            font-size: $mobile-navbar-burger-icon-size;
            color: $mobile-navbar-burger-icon-color;
            position: relative;

            svg {
                opacity: 0;
                transform: scale(0);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: opacity .3s ease, transform .3s ease;

                &.active {
                    opacity: 1;
                    transform: scale(1);
                }
            }

        }
    }

    .menu {
        padding-top: 40px;
        position: absolute;
        background: rgb(0, 10, 31);
        width: 100%;
        height: 100vh;
        z-index: 100;
        opacity: 0;
        left: 0;
        transition: opacity .3s ease, transform .3s ease;
        row-gap: 24px;

        &.active {
            opacity: 1;
        }

        .list-group-item {
            padding-bottom: 16px;
            border-bottom: 1px solid rgb(75, 85, 99);

            a {
                font-weight: 600;
                font-size: 14px;
                color: rgb(243, 244, 246);
            }
        }
    }
}



@media (max-width: 575.98px) {
    #mobile-navbar {
        display: block;
    }
}