@import "mobile-navbar-variables";

#mobile-navbar {
    padding: 20px;
    position: relative;
    display: none;
    padding-bottom: $mobile-navbar-paddingBottom;

    .navbar-brand {

        img {
            width: $mobile-navbar-img-width !important;
        }

        .name {
            column-gap: $mobile-navbar-brand-name-gap;

            .letter {
                font-weight: $mobile-navbar-brand-letter-weight;
                font-size: $mobile-navbar-brand-letter-size;
            }

        }

    }

    .burger-menu {

        .burger-icon {
            width: $mobile-navbar-brand-letter-size;
            height: $mobile-navbar-brand-letter-size;
            font-size: $mobile-navbar-burger-icon-size;
            color: $mobile-navbar-burger-icon-color;
            position: relative;

            svg {
                opacity: $mobile-navbar-burger-icon-svg-opacity;
                transform: $mobile-navbar-burger-icon-svg-scale;
                position: absolute;
                right: 0;
                bottom: 0;
                transition: $mobile-navbar-burger-icon-svg-transition;

                &.active {
                    opacity: $mobile-navbar-burger-icon-svg-hover-opacity;
                    transform: $mobile-navbar-burger-icon-svg-hover-scale;
                }
            }

        }
    }

    .menu {
        position: absolute;
        left: $mobile-navbar-menu-left;
        padding-top: $mobile-navbar-menu-paddingTop;
        background: $mobile-navbar-menu-background;
        width: $mobile-navbar-menu-width;
        height: $mobile-navbar-menu-height;
        z-index: $mobile-navbar-menu-zIndex;
        opacity: $mobile-navbar-menu-opacity;
        transition: $mobile-navbar-menu-transition;
        row-gap: $mobile-navbar-menu-gap;

        &.active {
            width: 100%;
            opacity: $mobile-navbar-menu-active-opacity;
            background: $mobile-navbar-menu-hover-background;
        }

        .list-group-item {
            padding-bottom: $mobile-navbar-menu-list-group-item-paddingBottom;
            border-bottom: $mobile-navbar-menu-list-group-item-borderBottom;

            .nav-link {
                font-weight: $mobile-navbar-menu-link-fontWeight;
                font-size: $mobile-navbar-menu-link-fontSize;
                color: $mobile-navbar-menu-link-color;
            }
        }
    }
}



@media (max-width: 575.98px) {
    #mobile-navbar {
        display: block;
    }
}