// CTA variables 

// Lg variables  

$cta-paddingTop-lg :8.8rem;
$cta-paddingTop-xs : 7.692rem;

// CTA TITLE
$cta-title-size-lg : 3rem;
$cta-title-size-xs : 1.846rem;
$cta-title-size-sm : 2rem;
$cta-title-size-md : 2rem;
$cta-title-lineHeight-xs : 1.2;
$cta-title-marginBottom-lg : .9375rem;
$cta-title-marginBottom-xs : 1.923rem;
$cta-title-marginBottom-sm : 1.5625rem;
$cta-title-marginBottom-md : 1.5625rem;
$cta-title-textAlign :  center;

// CTA content
$cta-content-paddingBottom-lg : 10rem;
$cta-content-paddingBottom-xs : 2.307rem;
$cta-content-paddingBottom-sm : 5rem;
$cta-content-paddingTop-lg : 3.125rem;
$cta-content-paddingTop-xs : 3.461rem;
$cta-content-paddingTop-md : 6.5625rem;

// CTA line 
$cta-line-bottom-lg : -150px;
$cta-line-bottom-xs : -55px;
$cta-line-bottom-sm : -75px;
$cta-line-bottom-md : -100px;
$cta-line-bottom-xl : -125px;
$cta-line-width : 100%;

// Cta Link 
$cta-link-zIndex : 2;
$cta-link-display : inline-block;
$cta-link-background : #000a1f;
$cta-link-padding-lg :.75rem 2rem;
$cta-link-border : 2px solid #FFFFFF;
$cta-link-borderRadius : 9999px;
$cta-link-cursor : pointer;
$cta-link-size-xs : 1.153rem;
$cta-link-padding-xs : .5rem 1.5rem;