@import 'CTA-variables';

#cta {
    padding-top: $cta-paddingTop-lg;

    .container {
        position: relative;


        .title {
            text-align: $cta-title-textAlign;
            font-size: $cta-title-size-lg;
            margin-bottom: $cta-title-marginBottom-lg;
        }

    }

    .cta-content {
        padding-bottom: $cta-content-paddingBottom-lg ;
        padding-top: $cta-content-paddingTop-lg ;
    }


    .line {
        position: absolute;
        left: 0;
        right: 0;
        bottom: $cta-line-bottom-lg;
        width: $cta-line-width;
    }

    .link {
        position: relative;
        z-index: $cta-link-zIndex;
        display: $cta-link-display;
        background: $cta-link-background;
        padding: $cta-link-padding-lg;
        border: $cta-link-border;
        border-radius: $cta-link-borderRadius;
        cursor: $cta-link-cursor;
    }
}


@media (max-width: 575.98px) {

    #cta {
        padding-top: $cta-paddingTop-xs !important;
    
        .line {
            bottom: $cta-line-bottom-xs !important;
        }
    
        .cta-content {
            padding-top: $cta-content-paddingBottom-xs !important;
            padding-bottom: $cta-content-paddingTop-xs !important;
        }
    
        .title {
            font-size: $cta-title-size-xs  !important;
            line-height: $cta-title-lineHeight-xs !important;
            margin-bottom: $cta-title-marginBottom-xs !important;
        }
    
        .link {
            font-size: $cta-link-size-xs !important;
            padding: $cta-link-padding-xs !important;
        }

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  
    #cta{

        .line {
            bottom: $cta-line-bottom-sm !important;
        }
    
        .cta-content {
            padding-bottom: $cta-content-paddingBottom-sm !important;
        }
    
        .title {
            font-size: $cta-title-size-sm !important;
            margin-bottom: $cta-title-marginBottom-sm !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #cta{
        .line {
            bottom: $cta-line-bottom-md !important;
        }
    
        .cta-content {
            padding-bottom: $cta-content-paddingTop-md !important; 
        }
    
        .title {
            font-size: $cta-title-size-md !important;
            margin-bottom: $cta-title-marginBottom-md !important;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #cta{
        .line {
            bottom: $cta-line-bottom-xl !important;
            margin-bottom: $cta-title-marginBottom-md !important;
        }
    }
}