#more { 
    padding-block: 5rem;

    .more-text{
        text-align: center;
        color : #7b89a8;
        font-size: 14px;
        font-style: italic;

        a{
            color : #00c7ff;
            text-decoration: underline;
        }
    }
}