#heading{
    padding-block-start: 36px;
    padding-block-end: 80px;
    text-align: center;

    h1{
        margin-bottom: 32px;
        font-size: 60px;
        font-weight: 400;
    }
    p{
        font-size: 24px;
        color: #7b89a8;
    }
}