@import "navbar-variables";

#navbar {
    padding: 20px;

    .navbar-brand {
        column-gap: $navbar-brand-gap;

        img {
            transition: $navbar-brand-img-transition;

            &:hover {
                scale: $navbar-brand-img-scale-hover;
                transform: $navbar-brand-img-rotate-hover;
            }
        }

        .name {
            column-gap: $navbar-brand-name-gap;

            .letter {
                font-weight: $navbar-brand-letter-weight;
                font-size: $navbar-brand-letter-size;
                transition: $navbar-brand-letter-transition;

                &:hover {
                    color: $navbar-brand-letter-color-rgb-hover;
                    margin-top: $navbar-brand-letter-marginTop-hover;
                }
            }

        }

    }

    .navbar-nav {
        column-gap: $navbar-nav-gap;

        .nav-link {
            opacity: $navbar-nav-link-opacity;

            &.active {
                opacity: $navbar-nav-link-active-opacity;
            }
        }
    }
}

@media (max-width: 575.98px) {
    #navbar{
        display: none;
    }
}

@media (max-width: 991.98px){
    #navbar .navbar-brand {

        img:hover{
            scale: none;
            transform: none;
        }
        .letter:hover{
            color: #FFFFFF !important;
            margin-top: 0 !important;    
        }
    }
}