// Testimonials variables

$testimonialsmarginTop : 8rem;

// Testimonials Row variables
$columnGap-lg: 20px;
$flexWrap-lg: nowrap;

// Testimonials Card
$background : #000f2e;
$padding : 20px;
$border : 1px solid #009ac5;
$borderRadius : 8px;
$max-height : 200px;
$height : 100%;
$position : relative;