
$footer-padding : 2.5rem 1.25rem;
$footer-margin : 0;
$footer-borderBottom : 1px solid #000f2e; 
$footer-top-borderBotom : 1px solid #192742;
$footer-top-paddingBottom : 2rem;

// Footer Gap (ftr-gap)
$footer-gap-rowGap: 1.875rem;
$footer-Col9-rowGap: .75rem;
$footer-Col9-rowGap-sm: .85rem;
$footer-h4-weight : 700;
$footer-h4-transform : uppercase;
$footer-h4-color : #7b89a8;
$footer-gap-list-group-rowGap : 1rem;
$footer-gap-svg-marginRight : .5rem;


// Footer Bottom 
$footer-bottom-paddingBottom : 1rem;
$footer-bottom-textCenter : center;
$footer-bottom-color : #7b89a8;
$footer-bottom-size : .75rem;

// Made with 
$made-with-letterSpacing : 1.2px;
$made-with-textTransform : uppercase;
$made-with-fontWeight : 700;
$made-with-columnGap : .75rem;
$logos-columnGap : .313rem;

// Copy Right 
$copyright-marginTop : .5rem;
$copyright-link-fontWeight : 500;
$copyright-link-color : #b2bbcf;

// Source Code
$source-code-fontSize : .75rem;
$source-code-borderRadius : .75rem;
$source-code-color :  #00c7ff;
$source-code-border : 1px solid $source-code-color;
$source-code-padding : .5rem 1rem;
$source-code-opacity : .5;
$source-code-columnGap : .5rem;
$source-code-marginTop : 2.15rem;