@import "footer-variables";

#footer {
    padding: $footer-padding;
    margin: $footer-margin;
    border-top: $footer-borderBottom;


    .container {
        position: relative;
    }

    .footer-top {

        &>div {
            border-bottom: $footer-top-borderBotom;
            padding-bottom: $footer-top-paddingBottom;

        }
    }

    .footer-links {
        row-gap: $footer-gap-rowGap;

        &>div {
            row-gap: $footer-Col9-rowGap;
        }

        h4 {
            font-weight: $footer-h4-weight;
            text-transform: $footer-h4-transform;
            color: $footer-h4-color;
        }

        .list-group {
            row-gap: $footer-gap-list-group-rowGap;

            .list-group-item {

                svg {
                    margin-right: $footer-gap-svg-marginRight;
                }
            }

        }
    }

    .footer-bottom {
        padding-top: $footer-bottom-paddingBottom ;
        text-align: $footer-bottom-textCenter;
        color: $footer-bottom-color ;
        font-size: $footer-bottom-size;

        .made-with {
            letter-spacing: 1.2px;
            text-transform: $made-with-textTransform;
            font-weight: $made-with-fontWeight;
            column-gap: $made-with-columnGap;

            .logos {
                column-gap: $logos-columnGap;
            }
        }

        .copyright {

            margin-top: $copyright-marginTop;

            a {
                font-weight: $copyright-link-fontWeight;
                color: $copyright-link-color;
            }
        }
    }

    .source-code {
        font-size: $source-code-fontSize;
        border-radius: $source-code-borderRadius;
        border: $source-code-border ;
        color: $source-code-color;
        opacity: $source-code-opacity;
        padding: $source-code-padding;
        position: absolute;
        bottom: 0;
        right: 0;
        column-gap: $source-code-columnGap;
    }

}


@media (max-width: 767.98px) {

    #footer {
        &.active {
            display: none !important;

        }


        .ftr-gap>div {
            row-gap: $footer-Col9-rowGap-sm !important;
        }

        .source-code {
            margin-top: $source-code-marginTop;
            position: relative !important;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

    }
}