#footer {
    padding: 40px 20px;
    margin: 0;
    border-top: 1px solid rgb(0, 15, 46);

    .footer-top {

        &>div{
            border-bottom: 1px solid rgb(25, 39, 66);
            padding-bottom: 2rem;
    
        }
    }

    .ftr-gap {
        row-gap: 30px;

        &>div {
            row-gap: .75rem;
        }

        h4 {
            font-weight: 700;
            text-transform: uppercase;
            color: rgb(123, 137, 168);
        }

        .list-group {
            row-gap: 1rem;

            .list-group-item {

                svg {
                    margin-right: 8px;
                }
            }

        }
    }

    .footer-bottom{
        padding-top: 16px;
        text-align: center;
        color : rgb(123, 137, 168);
        font-size: 12px;

        .made-with{
            letter-spacing: 1.2px;
            text-transform: uppercase;
            font-weight: 700;
            column-gap: 12px;

            .logos{
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
        }

        .copyright{

            margin-top: 8px;

            a{
                font-weight: 500;
                color: rgb(178, 187, 207);
            }
        }
    }

}

@media (max-width: 575.98px) {
    .ftr-gap>div {
        row-gap: 1rem;
        
        .list-group{
            row-gap: 1rem !important;
        }
    }

}